# Bytecode, temporäre & sensible Dateien
__pycache__/
*.py[cod]
*.log
*.zip
*.md
*.ipynb
*.pdf
*.csv
*.db
.env
*.pptx

# Lokale Entwicklungsdaten (nicht ins Image)
data/
logs/
results/
notebooks/
docs/
frontend/
grafana/
prometheus/
src/scheduler/

# Node.js-Zeugs
node_modules/
package-lock.json
package.json

# ❗ Wichtig: diese Ordner/Dateien **nicht** ignorieren (werden fürs Backend benötigt)
!src/
!requirements.txt
!setup.py
