[Unit]
Description=Social Media Trend Analysis Scraper
After=network.target

[Service]
Type=simple
User=sofie
WorkingDirectory=/c/Users/SofiePischl/Documents/01_HdM/10_ML_OPS/TrendAnalyseSocialMedia
Environment=PYTHONPATH=/c/Users/SofiePischl/Documents/01_HdM/10_ML_OPS/TrendAnalyseSocialMedia
ExecStart=/c/Users/SofiePischl/Documents/01_HdM/10_ML_OPS/TrendAnalyseSocialMedia/venv/Scripts/python src/scheduler/main_scraper.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 